@page "/"




<div class="imgcontainer pt-3">
    <img class="" src="/MHW.png" alt="Monster Hunter: World, Rathalos Attacks!" width="100%" />
    <div class="overlaytext">What is Monster Hunter: World?</div>
</div>
<div>
    <h3 class="fst-italic pt-2">Overview</h3>

    <p>
        Monster Hunter: World is an action game developed by Capcom that has the player assume
        the role of a Hunter. They are tasked with tracking, slaying and/or capturing a whole host of different
        monsters. The gameplay revolves around battling these fierce creatures and the various styles players
        can choose to approach them. This game is known for its variety in weapons, from the heavy Great Sword, 
        used for both its slashing capabilities and its crushing weight, to the Insect Glaive, a bladed staff 
        used in tandem with a customisable insect companion, to the Hunting Horn, an instrument whose 
        sonorous melodies can buff players, and whose heft can deliver a mighty wallop.
    </p>

    <p>
        One of the most important aspects of this game are <a href="/spells">skills</a>. Skills are abilities that impact how the player
        interacts with the monsters they hunt, and the wider world around them. For example, the fierce fire breath
        of a Rathalos (pictured above) would feel like a warm breeze to a player with the Fire Resistance skill.
        Another player with the Leap of Faith skill may be seen literally diving into the fray, a consequence of this skill
        which grants access to the special "dive-evade", a particularly effective dodge usually only usuable when fleeing a monster,
        however, "Leap of Faith" allows this dive-evade to be used at any time, and increases the distance it covers.
    </p>
    <p>
        Skills can be attained from armour sets or charms. Armour sets obtained from crafting monster materials often
        confer skills related to that monster. For example, a monster that spits poison will often yield materials
        that, when crafted into the proper armour set, would give the player the Poison Resistance skill. 
        As for charms, these are an add-on to an armour set, often used to strengthen a particular skill granted by
        the armour or, for some of the more powerful charms, grant their own skills independent of any armour set. 
        A charm granting the Evasion skill might be just what you need to make full use of an armour set that grants
        the aforementioned Leap of Faith skill.
    </p>

    <p>Now that you know the ins and outs of skills, check out the Skills page <a href="spells">here</a>
        for a full list of skills in Monster Hunter: World.</p>
</div>
 
<div class="text-end">
	<a class="btn btn-outline-info badge text-black mb-3" href="/">Back to top</a>
</div>

@code {

}
